/* timer.css */

/* Estilos adicionales en línea para ocupar toda la pantalla */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    text-align: center;
}

.timer {
    font-size: 20em;
    font-family: 'Digital-7', sans-serif; /* Fuente digital */
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Dungeon Depths', sans-serif; /* Fuente digital */
    font-size: 3em;
    margin-bottom: 20px;
    color: #ffffff;
}

#minutes, #seconds {
    background-color: #333;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 0 10px;
}

.time-divider {
    font-size: 72px; /* Tamaño grande para simular un reloj digital */
    font-family: 'Digital-7', sans-serif; /* Fuente digital */
    color: #e0e0e0;
}

.start-button, .reset-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 10px;
    outline: none;
    transition: background-color 0.3s;
}

.start-button:hover, .reset-button:hover {
    background-color: #0056b3;
}
